<!-- The scripts doesn't pick up comments, does it? -->
<body class="body things" id="body">
    <section id="container" class="a b c">
        <div class="e f d" id="contained">
            <img alt="{% static 'alternate/alternate.png' %}" src="{% static 'source/source.svg' %}" test_djtags_ab="{% atag 'thing_a' %} {% btag 'thing_b' %}">
            <img alt="{% static 'alternate/alternate.png' %}" src="{% static 'source/source.svg' %}" test_djtags_ba="{% btag 'thing_b' %} {% atag 'thing_a' %}">
        </div>
    </section>
</body>
