<div class="card course_card">
    <a href="{% url 'course-syllabi' course.school course.name course.nen_kumi course.year %}">
        <div class="card-image">
            <figure class="image is-3by2">
                <img src="{{ MEDIA_PREFIX }}{{ course.image_path }}">
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                <p class="title is-5">
                    {{ course.name }}
                </p>
                <p class="subtitle is-6">
                    {{ course.school }}: {{ course.nen_kumi }}
                </p>
                <p class="course_description has-text-black">
                    {{ course.description }}
                </p>
            </div>
        </div>
    </a>
</div>
