<div class="card course_card">
    <a href="{% url 'courses-course' course.school course.name course.nen_kumi course.year %}">
        <div class="card-image">
            <figure class="image is-3by2">
                <img src="{{ MEDIA_PREFIX }}{{ course.image_path }}">
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                <p class="title is-3">
                    {{ course.name }}
                </p>
                <p class="subtitle">
                    {{ course.school }}: {{ course.grade }}-{{ course.letter_number }}
                </p>
                <p class="has-text-black">
                    {{ course.description }}
                </p>
            </div>
        </div>
    </a>
</div>
