{% extends 'courses/course_base.html' %}
{% load static %}

{% block page_head %}
    {% include 'kgisteam/_mathjax.html' %}
{% endblock %}

{% block course_content %}
<div class="columns is_exactly_fullwidth">
    <div class="column is-one-fifth">
        <nav class="menu">
            <p class="menu-label" id="worksheet-course-name">
                {{ course.name }} Worksheets
            </p>
            <ul class="menu-list">
                {% for worksheet in course.worksheet_set.all %}
                    {% if worksheet.title == active_worksheet.title %}
                    <li>
                        <a class="is-active" href="{% url 'course-worksheets' course.school course.name course.nen_kumi course.year worksheet.title 'ordered' %}">
                            {{ worksheet.title }}
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'course-worksheets' course.school course.name course.nen_kumi course.year worksheet.title 'ordered' %}">
                            {{ worksheet.title }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>

    {% if active_problems %}
    <div class="column">
        <ol>
            {% for problem in active_problems %}
            <div class="worksheet-problem-container" id="{{ problem.html_id }}">
                <li class="worksheet-problem">
                    {{ problem.question_markdown|safe }}
                    <form action="{% url 'course-worksheets-check' problem.id %}" class="worksheet-problem-form" method="POST">
                        {% csrf_token %}
                        {{ worksheet_problem_form }}
                        <input type="submit" value="Check">
                    </form>
                    <button class="show_solution_accordion button is-fullwidth is-small">show solution</button>
                    <div class="show_solution_accordion-content">
                        {{ problem.solution_markdown|safe }}
                    </div>
                </li>
            </div>
            {% endfor %}
        </ol>
        <div class="worksheet-buttons">
            <a class="button" href="{% url 'course-worksheets-reset' course.school course.name course.nen_kumi course.year active_worksheet.title problem_order %}" id="worksheet-reset">Reset</a>
            <a class="button" href="{% url 'course-worksheets-reset-all' course.school course.name course.nen_kumi course.year active_worksheet.title problem_order %}" id="worksheet-reset-all">Reset all</a>
        </div>
    </div>
    {% else %}
    <div class="column">
        <div class="level is-vcentered">
            <div class="level-item has-text-centered has-text-weight-light is-size-5">
                <p>Please select a worksheet.</p>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}


{% block body_scripts %}
<script>
document.addEventListener("DOMContentLoaded", loadCheckedResults);

function loadCheckedResults() {
    // send request
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "{% url 'course-worksheets-check-results' %}");
    xhr.send();
    // recieve response
    xhr.onreadystatechange = function () {
        var DONE = 4; // readyState 4 means the request is done.
        var OK = 200; // status 200 is a successful return.
        if (xhr.readyState === DONE) {
            if (xhr.status === OK) {
                updatePage(xhr);
            } else {
                console.log('Error: ' + xhr.status); // An error occurred during the request.
            }
        }
    }// end of nameless function
}// end of function loadCheckedResults

function updatePage(xhr) {
    response = JSON.parse(xhr.responseText);
    problems = document.getElementsByClassName('worksheet-problem-container');
    for (let problem of problems) {
        problemID = Number(problem.id.slice(-1))
        if (response.checked_problems_correct && response.checked_problems_correct.includes(problemID)) {
            problem.classList.add("checked_correct");
            problem.classList.remove("checked_incorrect");
        } else if (response.checked_problems_correct && response.checked_problems_incorrect.includes(problemID)) {
            problem.classList.add("checked_correct");
            problem.classList.remove("checked_incorrect");
        }
    }
}// end of function updatePate
</script>
<script src="{% static 'courses/js/show_solutions_accordion.js' %}"></script>
<script type="module">
    import { ajaxForm } from "{% static 'kgisteam/js/ajaxForm.js' %}";

    var problemForms = document.getElementsByClassName("worksheet-problem-form");
    // prevent the form from being submitted
    for (i = 0; i < problemForms.length; i++) {
        problemForms[i].addEventListener("submit", function(event){
            event.preventDefault();
            ajaxForm("POST", true, this, updatePage);
        });
    }

    function updatePage(xhr) {
        let response = JSON.parse(xhr.responseText);
        let problem = document.getElementById(response.HTML_id);
        let problemID = Number(problem.id.slice(-1))
        if (response.result == 'correct') {
            problem.classList.add("checked_correct");
            problem.classList.remove("checked_incorrect");
        } else if (response.result == 'incorrect') {
            problem.classList.add("checked_incorrect");
            problem.classList.remove("checked_correct");
        }
    }
</script>
{% endblock %}
