{% extends 'kgisteam/base.html' %}
{% load static %}


{% block page_css %}
    <link rel="stylesheet" href="{% static 'courses/css/courses_course.css' %}">
{% endblock %}

{% block body_content %}
    <div class="level is-marginless">
        <div class="level-left">
            <div class="level-item">
                <div class="is-boxed tabs is-toggle">
                    <ul>
                        <li>
                            <a href="{% url 'course-syllabi' course.year course.school course.name course.nen_kumi %}">Syllabi</a>
                        </li>
                        <li>
                            <a href="{% url 'course-worksheets' course.year course.school course.name course.nen_kumi None None %}">Worksheets</a>
                        </li>
                        <li>
                            <a href="{% url 'course-resources' course.year course.school course.name course.nen_kumi %}">Resources</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                {% if syllabus and perms.courses.change_syllabus %}
                    <p class="level-item">
                        <a href="{% url 'admin:courses_syllabus_change' syllabus.id %}">Edit Syllabus</a>
                    </p>
                {% elif active_worksheet and perms.courses.change_worksheet %}
                    <p class="level-item">
                        <a href="{% url 'admin:courses_worksheet_change' active_worksheet.id %}">Edit Current Worksheet</a>
                    </p>
                {% elif active_worksheet and perms.courses.change_worksheet %}
                    <p class="level-item">
                        <a href="{% url 'admin:courses_worksheet_change' active_worksheet.id %}">Edit Current Worksheet</a>
                    </p>
                {% elif resources and perms.courses.change_resource %}
                    <p class="level-item">
                        <a href="{% url 'admin:courses_resource_changelist' %}">Edit Resources</a>
                    </p>
                {% endif %}
                <p class="level-item" id="course_mark">{{ course.school }}: {{ course.nen_kumi }} {{ course.name }}</p>
            </div>
        </div>
    </div>
    {% block course_content %}
    {% endblock %}
{% endblock %}
