{% extends 'courses/base.html' %}


{% block course_content %}
    {% for category, resources in resources.items %}
        {% if resources %}
        <div class="columns is_exactly_fullwidth">
            <div class="column resource-category-column">
                <p class="title is-marginless is-3">{{ category }}</p>
                <hr/>
                {% for resource in resources %}
                <div class="columns">
                    <div class="column has-text-centered is-one-third resource-link-column">
                        <a  class="button has-text-weight-bold is-size-6 is-fullwidth is-link resource-link"
                            href="{{ resource.link_URL }}" target="_blank">
                            Go to {{ resource.link_text }} &#8667;
                        </a>
                    </div>
                    <div class="column resource-description-column">
                        <p>{{ resource.description|linebreaks }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}
//https://github.com/sandoche/Darkmode.js
