{% load static %}

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}">
            <object class="image" type="image/svg+xml" data="{% static 'home/icons/kgisteamLogo.svg' %}">
                EdTech/EdTeach
            </object>
            <span class="has-text-weight-bold is-size-1">
                KGI&nbsp;
            </span>
            {% for letter in 'STEAM' %}
            <span class="has-text-weight-bold is-size-1">
                {{ letter }}
            </span>
            {% endfor %}
        </a>
    </div>
</nav>
