{% load static %}

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}">
            <object class="image" type="image/svg+xml" data="{% static 'home/icons/kgisteamLogo.svg' %}">
                EdTech/EdTeach
            </object>
            <span id="logo-KGI" class="has-text-weight-bold is-size-1 logo-acronym">
                KGI
            </span>
            <span class="is-size-1">
                &nbsp;
            </span>
            {% for letter in 'STEAM' %}
            <span id="logo-{{ letter }}" class="has-text-weight-bold is-size-1 logo-acronym">
                {{ letter }}
            </span>
            {% endfor %}
        </a>
    </div>
    <div class="navbar-menu is-active">
        <section class="section">
            test
        </section>
    </div>
</nav>
