{% extends 'home/base.html' %}
{% load static %}


{% block page_css %}
{% endblock %}


{% block body_content %}
<section class="hero is-primary">                                               
    <div class="hero-body">                                                       
        <div class="container">                                                     
            <div class="columns is-centered is-multiline is-size-1-desktop has-text-weight-bold">                                         
                <div class="column is-full">
                    <p id="hero-KGI">
                        Keyless
                    </p>
                </div>
                {% for letter in steam_acronym %}
                <div class="column is-full">
                    <span id="hero-{{ letter }}">
                        {{ letter }}
                    </span>
                </div>
                {% endfor %}
            </div>                                                    
        </div>                                                                  
    </div>                                                                    
</section>
{% endblock %}
