{% extends 'home/base.html' %}
{% load static %}


{% block page_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}


{% block body_content %}
<section class="hero is-primary"> 
    <div class="hero-body">
        <div class="container"> 
            <div class="columns is-size-1-tablet is-size-2-mobile has-text-weight-bold"> 
                <div class="column" id="hero-1">
                    <span id="hero-KGI">KGI</span>
                    <span id="hero-space">&nbsp;</span>
                    {% spaceless %}
                    {% for letter in 'STEAM' %}
                    <span id="hero-{{ letter }}">{{ letter }}</span>
                    {% endfor %}
                    {% endspaceless %}
                </div>
                <div class="column" id="hero-2">
                    {% for word in steam_acronym %}
                    <span class="is-invisible logo-letter_" id="hero-{{ word }}">{{word}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
