{% load static %}

<nav aria-label="main navigation" class="is-dark navbar" role="navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}" id="logo">
            <object class="image" data="{% static 'kgisteam/icons/kgisteamLogo.svg' %}"
                height="65" width="65"
                id="logo-icon" type="image/svg+xml">
            </object>
            <span class="has-text-weight-bold is-size-2-tablet is-size-4-mobile" id="logo-text">
                KGI STEAM
            </span>
        </a>
    </div>
    <div class="navbar-end">
        <a href="https://github.com/0p3r4t0r/KGI-STEAM">
            <div class="navbar-item" style="z-index: -1">
                <object class="image" data="{% static 'kgisteam/icons/icons8-github.svg' %}"
                    height="85" width="85"
                    id="github-icon" type="image/svg+xml">
                </object>
            </div>
        </a>
    </div>
</nav>
