{% extends 'kgisteam/base_no_navbar.html' %}
{% load static %}


{% block body_content %}
<section class="hero is-bold is-medium is-danger is-fullheight">
    <div class="hero-body" style="padding: 10px 10px 0 10px">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title">
                        Error 500
                    </h1>
                    <h2 class="subtitle">
                        Too much steam!
                    </h2>
                    <a class="button is-rounded" href="{% url 'home' %}">Take me back home.</a>
                </div>
                <div class="column">
                    <div>
                    <figure class="image">
                        <img src="{% static 'kgisteam/icons/kgisteamError.svg' %}" id="logo-icon">
                    </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
