.course_card {
    border: solid 2px black;
    border-radius: 15px;
    margin: 20px 10px 20px 10px;
    overflow: hidden;;

    .card-image {
        background-color: black;
    }


    .course_description {
        height: 70px;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* IE 10+ */
    }
    .course_description::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }
}
