// Syllabi

$border-color: rgb(150,150,150);


table {
  width: 100vw;
}

tr.flex-table-row {
  display: flex;
  flex-flow: row wrap;
  border: solid $border-color 2px;
}

th, td {
  flex: 1 1 33%;
  padding: 2.5px 5px 2.5px 5px;
  border: solid $border-color 1px;

  &.lesson-topics, &.lesson-links {
    min-width: 100%;
  }
}


@media only screen and (min-width : 450px) {
  tr.flex-table-row {
    flex: 1 1;
    flex-flow: row nowrap;

    &:nth-child(even) {
      background-color: rgb(235,235,235);
    }

    &:hover {
      background-color: rgb(102, 255, 153);
    }

  }

  th, td {

    &.lesson-number {
      max-width: 3em;
    }

    &.lesson-date {
      max-width: 10em;
    }

    &.lesson-topics, &.lesson-links {
      min-width: unset;
    }
  }
}


// Worksheets
.worksheet-problem {
    padding: 0.5em 0 1em 0;
}

.worksheet-problem-form {
    padding: 1em 0 1em 0;
}

// Accordion
._accordion {
 background-color: #eee;
 color: #444;
 cursor: pointer;
 padding: 18px;
 width: 100%;
 text-align: left;
 border: none;
 outline: none;
 transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
._accordion-active, ._accordion:hover {
 background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
._accordion-content {
 padding: 0 18px;
 background-color: white;
 display: none;
 overflow: hidden;
}

/* Get rid of arrows on number inputs */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
